---
layout: default
---

<div>
  <p>I am Dustin Kenefake, a Post Doc for in the <a href="https://www.mierapetritou.com/research">ProOptiMA Group</a>. Formerly, a PhD student in the <a href="https://parametric.tamu.edu/">Pistikopoulos Group</a>, where I focus mainly on algorithms and software for automatic desision making. In undergrad I worked in the <a href="https://www.depts.ttu.edu/chemistry/Faculty/krempner/">[Krempner Group</a> researching novel catalytic systems. In my off time, I like to cook and make beer.   Most of the content of this website is in the blog section. The blog coverse a wide array of topics, including implmenting algorithms, data driven methods, optimization and much more.</p>
  
  <p> Here is a simple plot that describes the solution to a multiparametric quadratic programming problem w.r.t. the uncertainty parameters. A quick dive on this subject can be found <a href="https://dkenefake.github.io/blog/mpp">here</a></p>

  <img src="../assets/imgs/plots1596516931.193984.png" style = "max-width:100%;">

  <p> For more information about Multiparametric programming and it's applications <a href="https://www.frontiersin.org/articles/10.3389/fceng.2020.620168/full">this paper</a> is a good jumping point.

  <p> All code posted on this site should be considered under an MIT License unless otherwise stated </p>
  
  <meta name="description" content="Dustin Kenefake's Personal Site.">
</div>
